.card-box{
    border: 1px solid grey;
    display: block;
    width: 180px;
    border-radius: 4px;
    margin: 10px 0 0 25px;
}

.title {
    width: 100%;
    padding: 2px;
}

.card-title-box {
    display: flex;
    background-color: lemonchiffon;
    border-bottom: 1px solid gray;
    border-radius: 4px 4px 0 0;
}

.draggable {
    cursor: move;
  }
  

.delete {
    padding: 2px;
}

.delete:active {
    padding: 2px;
    color: red;
}

